<launch>
  <node pkg="min_snap_gen" type="connect_dots_node" name="min_snap_traj" output="screen" clear_params="true">
    <rosparam file="$(find min_snap_gen)/config/connect_dots.yaml" command="load"/>
    <param name="optimization/vmax" value="1.0" />
    <param name="optimization/rho_t" value="10.0" />

    <remap from="/min_snap_traj/trajectory" to="/mavros/setpoint_trajectory/local" />
  </node>
</launch>
